body {
  font-family: Verdana,sans-serif;
  color: white;
  text-align: center;
  margin: 0;
  padding: 0;
}

/* Header Style */

header {
  background: url("../images/flatiron-building.png") no-repeat;
}

header h1 {
  font-size: 70px;
  margin: 0;
}

header nav#header_nav ul li {
  line-height: 35px;
  font-size: 18px;
  list-style: none;
}

header nav#header_nav ul li a {
  color: white;
  text-decoration: none;
}

/* Main Style */

h2, h3, p {
  color: black;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 23px;
}

p {
  font-size: 14px;
}

h2#contact_header {
  background: url("../images/flatiron-building.png") no-repeat;
  color: white;
  font-size: 23px;
  padding: 15px 0 15px 0;
}

/* Footer styles */

footer {
  text-align: left;
  background-color: dimgray;
  padding: 10px 0 10px 0;
}

p#copyright {
  font-size: 11px;
  color: white;
  display: inline;
}

nav#footer_nav {
  display: inline;
}

nav#footer_nav ul {
  display: inline;
}

nav#footer_nav ul li{
  display: inline;
}

nav#footer_nav ul li a{
  text-decoration: none;
  color: white;
}
